{% extends 'front/layout/layout.html.twig' %}

{% block title %}Bloc notes{% endblock %}

{% block content %}
    <!-- Flash Messages-->
    {% include "front/layout/flash-messages.html.twig" with {'flashBag': app.session.flashBag } only %}

    <!-- Filter Form-->
    {% include "front/todo_list/_filter-form.html.twig" with {formSearch : formSearch} only %}
    <table class="table table-hover" id="js-reload">
        <thead>
        <tr>
            <th>N°</th>
            <th>Statut</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Date de fin</th>
            <th>Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in pagination %}
            <tr class="js-tr{{ task.id }}{% if task.isCompleted == true %} font-strikethrough font-weight-bolder {% endif %}">
                <td>{{ loop.index }}</td>
                <td>{% if task.isCompleted == true %}
                        <span class="badge badge-success">&#10003; &nbsp;Fait</span>
                    {% else %}
                        <span class="badge badge-danger">En cours</span>
                    {% endif %}
                </td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.endedAt|localizeddate ('none', 'none', 'fr_FR', null, "cccc d MMMM Y 'à' hh:mm") }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" style="height:70px;" aria-labelledby="dropdownMenuButton">
                            <a href="{{ path('task_edit',{'slug': task.slug}) }}" class="dropdown-item">
                                Éditer
                            </a>
                            <form method="post" action="{{ path('task_delete', {'id': task.id}) }}"
                                  onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="dropdown-item text-danger"><b>Supprimer</b></button>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="d-flex pt-3">
                    <div class="custom-control custom-switch " data-toggle="tooltip" data-placement="top"
                         title=""
                         data-original-title="Changer le statut">
                        <input type="checkbox" class=" custom-control-input" id="customSwitch{{ task.id }}"
                               {% if task.isCompleted == false %}checked{% endif %} data-id="{{ task.id }}"
                        >
                        <label class="custom-control-label cursor-link" for="customSwitch{{ task.id }}"></label>
                    </div>
                    <div class="spinner-border text-primary hidden spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--Pagination & Count items Filter-->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="form-group">
        {% set value = app.request.get('count-items') %}
        <form action="{{ path('task_list') }}" class="d-flex ">
            <label for="count-items" class="col-form-label mr-3">Résultats par page</label>
            <select name="count-items" id="count-items" class="form-control w-25 mr-3">
                <option value="10" {% if value == 10 %} selected {% endif %} class="font-strikethrough">10 (par
                    défaut)
                </option>
                {% for i in 1..3 %}
                    <option value="{{ i*50 }}" {% if value == i*50 %} selected {% endif %}>{{ i*50 }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-secondary ">Changer</button>
        </form>
    </div>

    <!-- Modal Create Form -->
    {% include 'front/todo_list/_modal.html.twig' with {'form':form} only %}

{% endblock %}
